In [3]:
import pandas as pd
import numpy as np

In [5]:
combined_df = pd.read_csv('Combined_Dataframe.csv')

In [6]:
combined_df[combined_df.title=='University_of_Notre_Dame']

,title,bm25_score,bm25_rank,tfidf_score,tfidf_rank,doc2vec_score,doc2vec_rank,question,Actual_Document
422,University_of_Notre_Dame,22.617357,1,0.053244,3,0.162380,1,To whom did the Virgin Mary allegedly appear i...,1
864,University_of_Notre_Dame,18.809760,1,0.358710,1,0.187634,1,What sits on top of the Main Building at Notre...,1
1306,University_of_Notre_Dame,16.853517,1,0.380284,1,0.181119,1,What is in front of the Notre Dame Main Building?,1
1748,University_of_Notre_Dame,23.213694,1,0.310079,1,0.172544,1,The Basilica of the Sacred heart at Notre Dame...,1
2190,University_of_Notre_Dame,13.112193,1,0.407653,1,0.168134,1,What is the Grotto at Notre Dame?,1
2632,University_of_Notre_Dame,19.286762,1,0.287946,1,0.180898,1,In what year did the student paper Common Sens...,1
3074,University_of_Notre_Dame,9.908088,2,0.304790,1,0.174728,1,How many student news papers are found at Notr...,1
3516,University_of_Notre_Dame,14.322584,1,0.166318,1,0.205039,1,When did the Scholastic Magazine of Notre dame...,1
3958,University_of_Notre_Dame,8.758392,1,0.310321,1,0.163464,1,How often is Notre Dame's the Juggler published?,1
4400,University_of_Notre_Dame,15.213747,1,0.325856,1,0.237693,1,What is the daily student paper at Notre Dame ...,1
4842,University_of_Notre_Dame,10.386947,2,0.313690,1,0.177616,1,What individuals live at Fatima House at Notre...,1
5284,University_of_Notre_Dame,6.788079,1,0.355722,1,0.205764,1,What is the oldest structure at Notre Dame?,1
5726,University_of_Notre_Dame,10.690416,1,0.045494,1,0.184889,1,Where is the headquarters of the Congregation ...,1
6168,University_of_Notre_Dame,12.977349,1,0.044660,1,0.175506,1,What is the primary seminary of the Congregati...,1
6610,University_of_Notre_Dame,9.868910,1,0.019598,5,0.178841,1,Which prize did Frederick Buechner create?,1
7052,University_of_Notre_Dame,17.969331,1,0.350022,1,0.178979,1,In what year was the College of Engineering at...,1
7494,University_of_Notre_Dame,21.507839,1,0.299295,1,0.180123,1,The College of Science began to offer civil en...,1
7936,University_of_Notre_Dame,14.321255,1,0.067136,1,0.166098,1,How many departments are within the Stinson-Re...,1
8378,University_of_Notre_Dame,18.575876,3,0.323735,1,0.161857,1,Before the creation of the College of Engineer...,1
8820,University_of_Notre_Dame,18.466575,3,0.320193,1,0.179789,1,How many BS level degrees are offered in the C...,1
9262,University_of_Notre_Dame,16.156587,1,0.366301,1,0.151316,1,How many colleges for undergraduates are at No...,1
9704,University_of_Notre_Dame,9.637220,3,0.295896,1,0.167512,1,What entity provides help with the management ...,1
10146,University_of_Notre_Dame,19.749869,1,0.282019,1,0.160639,1,Which organization declared the First Year of ...,1
10588,University_of_Notre_Dame,11.902125,5,0.309585,1,0.182261,1,What was created at Notre Dame in 1962 to assi...,1
11030,University_of_Notre_Dame,13.024873,2,0.293494,1,0.162579,1,The granting of Doctorate degrees first occurr...,1
11472,University_of_Notre_Dame,21.324960,1,0.350649,1,0.179171,1,Which program at Notre Dame offers a Master of...,1
11914,University_of_Notre_Dame,1.872534,21,0.012595,2,0.269343,1,What type of degree is an M.Div.?,1
12356,University_of_Notre_Dame,16.735873,1,0.309794,1,0.176579,1,In what year was a Master of Arts course first...,1
12798,University_of_Notre_Dame,19.280689,2,0.334047,1,0.195698,1,Which department at Notre Dame is the only one...,1
13240,University_of_Notre_Dame,11.107305,1,0.031966,4,0.156610,1,What company did Ray Kroc own?,1
...,...,...,...,...,...,...,...,...,...
38632548,University_of_Notre_Dame,2.968404,44,0.005257,127,0.157245,1,About what percentage of the Nepali population...,0
38632990,University_of_Notre_Dame,1.177262,194,0.012184,21,0.151378,1,Where is the Baha'i national office located in...,0
38633432,University_of_Notre_Dame,1.903201,76,0.003538,79,0.154686,1,Where can a temple of the Jain faith be found?,0
38633874,University_of_Notre_Dame,1.026927,65,0.006050,36,0.139219,1,Kathmandu valley is home to about how many Bah...,0
38634316,University_of_Notre_Dame,4.890455,31,0.008628,43,0.164203,1,About how many Christian houses of worship exi...,0
38634758,University_of_Notre_Dame,5.218825,16,0.018115,7,0.159822,1,In what part of Kathmandu is the Institute of ...,0
38635200,University_of_Notre_Dame,7.426182,11,0.126218,2,0.159234,1,Of what university is the Institute of Medicin...,0
38635642,University_of_Notre_Dame,2.382322,17,0.004888,8,0.153943,1,What does KUSMS stand for?,0
38636084,University_of_Notre_Dame,8.255710,3,0.027647,9,0.197856,1,When did the Institute of Medicine begin to of...,0
38636526,University_of_Notre_Dame,4.461950,16,0.011266,14,0.159018,1,What institution of tertiary education is know...,0
38636968,University_of_Notre_Dame,0.000000,442,0.013890,6,0.177011,1,Who assisted Nepal in renovating Dasarath Rang...,0
38637410,University_of_Notre_Dame,4.626538,9,0.011820,11,0.171292,1,What body oversees soccer in Nepal?,0
38637852,University_of_Notre_Dame,0.719346,360,0.013629,7,0.153277,1,How many people can fit in Dasarath Rangasala ...,0
38638294,University_of_Notre_Dame,5.255907,5,0.018244,4,0.167224,1,In what part of Kathmandu is Dasarath Rangasal...,0
38638736,University_of_Notre_Dame,3.808780,16,0.008418,25,0.150563,1,"Along with cricket, what sport is highly popul...",0
38639178,University_of_Notre_Dame,0.274366,313,0.000700,305,0.173507,1,Why is travel in Kathmandu mainly via automobi...,0
38639620,University_of_Notre_Dame,0.400481,329,0.006543,47,0.185891,1,What highway connecting Kathmandu to elsewhere...,0
38640062,University_of_Notre_Dame,0.916675,371,0.000963,366,0.206138,1,If one wished to travel north out of Kathmandu...,0
38640504,University_of_Notre_Dame,0.958074,199,0.003312,121,0.131544,1,"As of 2004, how many kilometers of road existe...",0
38640946,University_of_Notre_Dame,1.552508,105,0.001279,128,0.148858,1,In what direction out of Kathmandu does the Pr...,0
38641388,University_of_Notre_Dame,0.646518,123,0.002494,186,0.183283,1,What is Nepal's primary airport for internatio...,0
38641830,University_of_Notre_Dame,2.978922,141,0.006391,62,0.170106,1,"Starting in the center of Kathmandu, how many ...",0
38642272,University_of_Notre_Dame,1.900040,54,0.004821,88,0.127597,1,From what city does Arkefly offer nonstop flig...,0
38642714,University_of_Notre_Dame,1.364343,82,0.001760,134,0.159968,1,Who operates flights between Kathmandu and Ist...,0
38643156,University_of_Notre_Dame,1.613589,164,0.006193,70,0.169951,1,How many airlines use Tribhuvan International ...,0
38643598,University_of_Notre_Dame,1.580560,268,0.002741,247,0.173206,1,In what US state did Kathmandu first establish...,0
38644040,University_of_Notre_Dame,1.549673,15,0.004325,10,0.155679,1,What was Yangon previously known as?,0
38644482,University_of_Notre_Dame,1.597809,144,0.004414,118,0.130518,1,In what year did Kathmandu create its initial ...,0
38644924,University_of_Notre_Dame,0.400481,151,0.002061,197,0.153629,1,With what Belorussian city does Kathmandu have...,0
38645366,University_of_Notre_Dame,0.400481,179,0.000745,125,0.182807,1,What is KMC an initialism of?,0

In [7]:
normalized_combined_df = combined_df

In [8]:
normalized_combined_df.isna().sum()

title              0
bm25_score         0
bm25_rank          0
tfidf_score        0
tfidf_rank         0
doc2vec_score      0
doc2vec_rank       0
question           0
Actual_Document    0
dtype: int64

In [9]:
normalized_combined_df['bm25_score'] = (normalized_combined_df.bm25_score-min(normalized_combined_df.bm25_score))/(max(normalized_combined_df.bm25_score)-min(normalized_combined_df.bm25_score))
normalized_combined_df['tfidf_score']=(normalized_combined_df.tfidf_score-min(normalized_combined_df.tfidf_score))/(max(normalized_combined_df.tfidf_score)-min(normalized_combined_df.tfidf_score))
normalized_combined_df['doc2vec_score']=(normalized_combined_df.doc2vec_score-min(normalized_combined_df.doc2vec_score))/(max(normalized_combined_df.doc2vec_score)-min(normalized_combined_df.doc2vec_score))

In [10]:
normalized_combined_df.head()

,title,bm25_score,bm25_rank,tfidf_score,tfidf_rank,doc2vec_score,doc2vec_rank,question,Actual_Document
0,2008_Sichuan_earthquake,0.002787,311,0.000690,347,0.683617,11,To whom did the Virgin Mary allegedly appear i...,0
1,2008_Summer_Olympics_torch_relay,0.048700,45,0.008462,79,0.667423,22,To whom did the Virgin Mary allegedly appear i...,0
2,51st_state,0.075982,13,0.018628,41,0.411718,382,To whom did the Virgin Mary allegedly appear i...,0
3,ASCII,0.006013,211,0.002844,216,0.564947,150,To whom did the Virgin Mary allegedly appear i...,0
4,A_cappella,0.013270,181,0.001741,277,0.485875,287,To whom did the Virgin Mary allegedly appear i...,0

In [11]:
X = normalized_combined_df[['bm25_score','tfidf_score','doc2vec_score']]

In [12]:
X.head()

   bm25_score  tfidf_score  doc2vec_score
0    0.002787     0.000690       0.683617
1    0.048700     0.008462       0.667423
2    0.075982     0.018628       0.411718
3    0.006013     0.002844       0.564947
4    0.013270     0.001741       0.485875

In [13]:
y = normalized_combined_df[['Actual_Document']]

In [14]:
y.head()

   Actual_Document
0                0
1                0
2                0
3                0
4                0

In [ ]:
y.shape

In [ ]:
X.shape

In [20]:
y_categorical = keras.utils.to_categorical(y)

In [14]:
import keras

Using TensorFlow backend.

In [15]:
from keras.models import Sequential
from keras.layers import LSTM,Dense
from keras.optimizers import RMSprop,Adam

In [21]:
model1 = Sequential()
model1.add(Dense(64,input_dim=3))
model1.add(Dense(128,activation='relu'))
model1.add(Dense(2,activation='softmax'))

In [22]:
model1.compile(optimizer='Adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [23]:
z = [keras.callbacks.EarlyStopping(monitor="val_acc", min_delta=0.01, patience=3, verbose=1, mode='max')]

In [25]:
model1.fit(X,y_categorical,batch_size=10,epochs=1,callbacks=z)

Epoch 1/1
38645386/38645386 [==============================] - 3262s 84us/step - loss: 0.0074 - acc: 0.9983

c:\program files\python36\lib\site-packages\keras\callbacks.py:535: RuntimeWarning: Early stopping conditioned on metric `val_acc` which is not available. Available metrics are: loss,acc
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

In [27]:
y_pred = model1.predict(X)

In [30]:
y_pred

array([[9.9999797e-01, 2.0674820e-06],
       [9.9992657e-01, 7.3413932e-05],
       [9.9963641e-01, 3.6358903e-04],
       ...,
       [9.9999833e-01, 1.6974371e-06],
       [9.9999797e-01, 1.9796539e-06],
       [9.9999869e-01, 1.3334197e-06]], dtype=float32)

In [32]:
model1.evaluate(X,y_categorical)

38645386/38645386 [==============================] - 418s 11us/step

[0.007919588009540731, 0.9984774120253321]

In [58]:
model1.save_weights('weight.txt')

In [59]:
for layer in model1.layers:
    weights = layer.get_weights() # list of numpy arrays

In [60]:
weights

[array([[ 1.05214126e-01,  2.63342112e-02],
        [-6.42250776e-02, -4.12807427e-02],
        [-9.64133069e-03,  3.00992560e-02],
        [ 1.21901833e-01,  2.34762523e-02],
        [ 6.51827812e-01, -5.45319736e-01],
        [ 7.73876533e-02,  1.00423492e-01],
        [ 2.45274812e-01, -2.20042080e-01],
        [ 3.00370660e-02, -1.65700555e-01],
        [-2.33952906e-02, -4.93188016e-03],
        [ 1.88144278e-02, -4.58042473e-02],
        [ 3.31196487e-01, -4.27753091e-01],
        [-1.32346854e-01, -5.69821671e-02],
        [ 7.98862427e-02, -1.63563892e-01],
        [-4.95735817e-02, -2.81939775e-01],
        [ 4.96616475e-02,  4.52414937e-02],
        [-1.66057199e-01, -1.45493835e-01],
        [ 1.83826432e-01, -1.07162975e-01],
        [-2.13652715e-01, -2.80539375e-02],
        [ 5.17142192e-02,  9.50651392e-02],
        [ 8.25107843e-02,  1.39628097e-01],
        [ 6.18398413e-02,  1.80593550e-01],
        [ 1.16783470e-01, -3.43369097e-02],
        [-3.00872587e-02,  3.04385424e-02],
        [ 2.32521921e-01, -2.17042804e-01],
        [-1.30417779e-01, -7.23690987e-02],
        [ 3.00471429e-02,  2.30392125e-02],
        [ 1.01460032e-01,  9.65327546e-02],
        [ 3.50172743e-02,  7.71108791e-02],
        [ 9.15280636e-03,  9.36759729e-03],
        [-2.26097226e-01, -1.70918047e-01],
        [ 2.36025706e-01, -1.17195500e-02],
        [ 2.63983011e-01,  1.03995569e-01],
        [ 8.86749923e-02,  1.24980122e-01],
        [ 1.04785962e-02, -5.27696945e-02],
        [ 3.23068760e-02,  5.07199615e-02],
        [ 1.10636540e-02,  6.51521832e-02],
        [ 1.40266106e-01,  1.18801847e-01],
        [ 7.32954890e-02,  6.89122174e-03],
        [ 6.39425367e-02, -2.80936480e-01],
        [ 3.11780721e-01, -2.17421010e-01],
        [-7.04479292e-02, -4.95710149e-02],
        [ 2.48577133e-01, -2.03081459e-01],
        [ 1.95853963e-01, -1.92120329e-01],
        [-1.85812309e-01,  4.72661138e-01],
        [-5.46037033e-02, -4.34378274e-02],
        [ 9.60198417e-02, -3.21648359e-01],
        [-3.41772437e-02, -7.17725651e-03],
        [ 1.95433378e-01, -3.84316862e-01],
        [ 4.78804521e-02, -3.36285494e-02],
        [ 3.52659225e-01, -1.39891043e-01],
        [ 3.07386722e-02,  4.65410054e-02],
        [ 5.10633327e-02,  8.44717026e-02],
        [ 3.92881483e-02, -6.39012381e-02],
        [-7.43484423e-02, -7.57265612e-02],
        [ 1.10398479e-01, -1.64188981e-01],
        [ 1.68456531e+00, -1.80329251e+00],
        [-3.34925577e-02, -2.54637804e-02],
        [ 2.89491005e-03, -2.23650575e-01],
        [ 5.24180755e-02,  9.68391150e-02],
        [-3.17223407e-02, -1.25881046e-01],
        [-1.22364759e-02,  8.41357782e-02],
        [ 2.55742639e-01, -1.42949358e-01],
        [ 1.38696268e-01,  1.48641706e-01],
        [-7.68725052e-02, -1.11379974e-01],
        [-8.52684528e-02, -5.90659641e-02],
        [ 4.95909154e-03, -7.81760439e-02],
        [-2.98148934e-02,  6.09763293e-03],
        [ 1.36356428e-01,  1.65140495e-01],
        [ 5.07178493e-02, -9.21139419e-02],
        [-7.43542761e-02, -9.29923952e-02],
        [ 2.54927352e-02, -6.57214224e-02],
        [-5.07092997e-02, -2.76526809e-02],
        [-1.35744840e-01, -6.34080246e-02],
        [-1.06318071e-01, -6.71472847e-02],
        [ 7.14379698e-02, -1.37073323e-01],
        [-1.00092538e-01, -7.43338838e-02],
        [ 2.17285246e-01,  3.16236950e-02],
        [-6.01835325e-02, -8.52021053e-02],
        [ 4.73609604e-02,  6.40595853e-02],
        [ 1.39889255e-01,  1.73140362e-01],
        [ 4.02009010e-01, -3.92169595e-01],
        [-8.28169510e-02, -7.89458379e-02],
        [ 6.42252639e-02,  1.46316648e-01],
        [ 7.40462244e-02,  1.00822613e-01],
        [-2.06850946e-01,  6.45473078e-02],
        [ 1.55964315e-01, -5.34824282e-02],
        [ 4.20353450e-02,  8.13702941e-02],
        [ 9.59575623e-02,  9.84224603e-02],
        [-2.79296450e-02, -1.41952261e-01],
        [ 3.43524516e-02,  1.20061085e-01],
        [ 1.02043472e-01,  1.29748583e-01],
        [ 1.73209444e-01,  1.02330156e-01],
        [-8.02634805e-02, -5.68649098e-02],
        [-4.55819555e-02, -4.17202711e-02],
        [ 3.58808935e-02, -7.32913762e-02],
        [-4.59060445e-02, -1.76360711e-01],
        [ 1.97078940e-02,  5.43238372e-02],
        [ 2.58577883e-01,  9.25025064e-03],
        [ 1.30550265e-01, -2.77111560e-01],
        [-6.44215718e-02, -4.59016040e-02],
        [-1.69371560e-01, -1.34051546e-01],
        [ 1.35769948e-01,  1.40250966e-01],
        [-1.42829224e-01, -1.69305161e-01],
        [ 1.27715664e-03, -3.03548336e-01],
        [ 1.74568072e-01, -3.46955843e-02],
        [-1.72981843e-02, -1.26300743e-04],
        [ 3.60652506e-01, -5.11838645e-02],
        [-4.85703982e-02, -1.19164340e-01],
        [-8.39539841e-02, -4.86594848e-02],
        [-1.76737756e-01,  1.00504868e-01],
        [ 2.65207380e-01, -9.21042562e-02],
        [-3.78709026e-02, -1.03468694e-01],
        [ 3.73831540e-02,  8.66785645e-02],
        [-3.22116524e-01,  4.77326736e-02],
        [-1.22143820e-01, -1.05296224e-01],
        [-5.31758964e-02, -1.10610195e-01],
        [ 1.68159175e+00, -1.44761121e+00],
        [ 1.60545826e-01,  2.20907498e-02],
        [-6.65493831e-02, -5.67507781e-02],
        [-8.79876129e-03, -9.52699929e-02],
        [ 5.93510531e-02, -1.22510381e-01],
        [-1.49511188e-01,  1.08341031e-01],
        [ 6.15869537e-02, -1.69854641e-01],
        [-1.36835977e-01, -1.79579005e-01],
        [-1.34914711e-01, -1.00896776e-01],
        [ 1.05260275e-01, -1.78078622e-01],
        [-1.09232955e-01, -9.47180614e-02],
        [-1.31559893e-01, -1.12718895e-01]], dtype=float32),
 array([-2.6505215,  2.6505206], dtype=float32)]

In [68]:
from sklearn.linear_model import LogisticRegression,LinearRegression

In [36]:
model2 = LogisticRegression()

In [38]:
from sklearn.cross_validation import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [40]:
model2.fit(X_train,y_train)

c:\program files\python36\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [41]:
y_pred2 = model2.predict(X_test)

In [43]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred2)
print(confusion_matrix)

[[11563840     3584]
 [   14083    12109]]

In [45]:
(11563840+12109)/(3584+14083+11563840+12109)

0.9984761441124149

In [46]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred2))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00  11567424
          1       0.77      0.46      0.58     26192

avg / total       1.00      1.00      1.00  11593616

In [50]:
model2.intercept_

array([38.81270882])

In [53]:
model2.coef_

array([[-30.97164397, -15.76856947,  -0.47114933]])

In [61]:
#Equation = 38.81270882-30.97164397* bm25_score - 15.76856947*tfidf_score - 0.47114933*doc2vec_score

In [62]:
normalized_combined_df.head()

,title,bm25_score,bm25_rank,tfidf_score,tfidf_rank,doc2vec_score,doc2vec_rank,question,Actual_Document
0,2008_Sichuan_earthquake,0.997213,311,0.999310,347,0.316383,11,To whom did the Virgin Mary allegedly appear i...,0
1,2008_Summer_Olympics_torch_relay,0.951300,45,0.991538,79,0.332577,22,To whom did the Virgin Mary allegedly appear i...,0
2,51st_state,0.924018,13,0.981372,41,0.588282,382,To whom did the Virgin Mary allegedly appear i...,0
3,ASCII,0.993987,211,0.997156,216,0.435053,150,To whom did the Virgin Mary allegedly appear i...,0
4,A_cappella,0.986730,181,0.998259,277,0.514125,287,To whom did the Virgin Mary allegedly appear i...,0

In [77]:
model3 = LinearRegression(fit_intercept=False)

In [78]:
model3.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

In [79]:
y_pred3 = model3.predict(X_test)

In [80]:
model3.coef_

array([[ 0.45938666, -0.46303214,  0.02230693]])

In [81]:
model3.intercept_

0.0

In [83]:
0.45938666* 0.997213 - 0.46303214*0.999310 - 0.02230693*0.316383

-0.011663831879009968

In [89]:
model3.score(X_test,y_test)

0.03902012233575258